*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
    line-height: 1.5;
    background-color: rgb(211, 211, 211, 50%);

}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ul {
    list-style: none;
    padding: 0px;
}
.container {
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 100vh;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 50px;
    justify-content: flex-start;
    background-color: skyblue;
    color: white;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: .75rem;
}

.sidebar svg {
    width: 1.25rem;
    fill: white;
}
.sidebar ul {
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: bolder;
}
.dashboard {
    font-size: 1.75rem;
    font-weight: bolder;
}

.dashboard svg {
    width: 1.75rem;
}

.sidebar ul li {
    margin: 1rem;
}
.header {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 15px 40px;
    box-shadow: 0px 5px 5px grey;
    margin-bottom: 1rem;
    background-color: white;
}

.topHeader {
    display: flex;
    justify-content: space-between;
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 70%;
}

.searchBar svg {
    width: 1.25rem
}

input[type='search'] {
    width: 80%;
    background-color: rgb(211, 211, 211, 50%);
    border: 0;
    border-radius: 15px;
}

.profile {
    display: flex;
    width: 20%;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}

.profile svg {
    width: 1.25rem;
}

img {
    width: 2.5rem;
    border-radius: 50%;
}

.bottomHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftBottomHeader {
    display: flex;
    gap: 1rem;
}

.leftBottomHeader>img {
    width: 3.5rem;
}

.welcome p:last-child {
    font-size: 1.2rem;
    font-weight: bolder;
}

.fileBtns {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.fileBtns button {
    background-color: skyblue;
    color: white;
    width: 100%;
    border-radius: 15px;
    padding: 3px 15px;
    border: none;
    font-weight: bold;
}

.content {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    gap: 15px;
    margin-bottom: 80px;
}
.content h3 {
    margin-bottom: 1rem;
}

.cardStack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    border-left: 8px solid burlywood;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    min-height: fit-content;
}

.cardBtns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.cardText > p {
    color: rgb(136, 136, 136);
    max-width: 75%;
}

.card svg {
    width: 1.25rem;
}

.announcementStack {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border-radius: 10px;
}

.announcementStack .miniAnnouncement:nth-child(-n+2) {
    border-bottom: 2px solid lightgray;
}

.miniAnnouncement {
    width: 100%;
    padding: 15px;
}

.trends {
    display: flex;
    gap: 1rem;
    margin: .5rem 0rem;
}

.trending {
    padding: 1rem;
}

.trends p:first-child {
    font-weight: bold;
}

.trends p:last-child {
    color: rgb(136, 136, 136);
}